header {
  display: flex;
  height: 50px;
  background-color: #1b6ae0;
  align-items: center;
}

h2 {
  color: white;
  margin: 0px;
  padding-left: 8px;
}

.headerButton {
  height: 50px;
  width: 50px;
  border-width: 0px;
  background-color: #1b6ae0;
  color: white;
  font-size: 28px;
  padding: 6px;
}

button:hover {
  background-color: #0d4ca8;
}

button:disabled {
  color: #0d4ca8;
  background-color: #1b6ae0;
}
