.formTitle {
  margin: 0px;
  background-color: #9e9e9e;
  color: #5c5c5c;
  max-height: 40px;
  padding: 8px;
}

.formButton {
  color: #a3a3a3;
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.formButton > p {
  padding-right: 16px;
  color: black;
  text-align: right;
}

.formInfo {
  cursor: auto;
}

textarea {
  width: 100%;
  min-height: 100px;
  border-width: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 8px;
}
